* 
{
    margin: 0;
    padding: 0;
}

header
{
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: white;
    height: 76px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
    border-color: #cccccc;
    background-color: #ffffff;
    
}

h1
{
    background-color: green;
    color: white;
    padding: 20px;
    float: left;
}

html,body
{
    background-color: gainsboro;
}


footer
{
    background-color: green;
    clear: both;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #dddddd;
}